* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 微軟正黑體;
}
.content {
	width: 1125px;
	height: 780px;
	margin: 0 auto;
	transform-origin: left top
}
.content .cqncAnimate {
	position: relative;
	width: 1125px;
	height: 780px
}
.content .cqncAnimate .bodybg {
	width: 100%;
	height: auto
}
.content .cqncAnimate .bodybg img {
	vertical-align: top;
	width: 100%;
	height: 100%
}
.content .cqncAnimate .zhezao {
	position: absolute;
	top: 0;
	left: 99px;
	width: 927px;
	height: 180px
}
.content .cqncAnimate .position {
	position: absolute;
	width: 899px;
	height: 80px;
	top: 0;
	width: 100%;
	font-size: 30px
}
.content .cqncAnimate .position ul {
	width: 1075px;
	height: inherit;
	line-height: 80px;
	margin: 0 25px
}
.content .cqncAnimate .position ul li {
	float: left;
	width: auto;
	height: inherit;
	color: #03dced;
	font-size: 22px;
	text-align: center
}
.content .cqncAnimate .position ul .logo {
	width: 160px;
	background-size: 100%;
	background-position: 50%;
	cursor: pointer
}
.content .cqncAnimate .position ul .issue {
	width: 240px
}
.content .cqncAnimate .position ul .issue span {
	color: #fc0
}
.content .cqncAnimate .position ul .kaiTime {
	width: 280px
}
.content .cqncAnimate .position ul .kaiTime span {
	color: #fff;
	padding-left: 0;
	padding-right: 17px
}
.content .cqncAnimate .position ul .headCode {
	width: 260px
}
.content .cqncAnimate .position ul .headCode ul {
	width: 200px;
	margin: 0 auto
}
.content .cqncAnimate .position ul .headCode ul li {
	margin-top: 20px;
	margin-left: 20px;
	width: 40px;
	height: 40px
}
.content .cqncAnimate .position ul .headCode ul li span {
	display: block;
	width: 18px;
	height: 18px;
	margin-top: 12px;
	margin-left: 11px;
	line-height: 18px;
	color: #000;
	font-size: 14px;
	font-weight: 800;
	text-align: center
}
.content .cqncAnimate .position ul .headCode ul #oneCode {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -30px -25px no-repeat
}
.content .cqncAnimate .position ul .headCode ul #twoCode {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -87px -25px no-repeat
}
.content .cqncAnimate .position ul .headCode ul #threeCode {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -143px -25px no-repeat
}
.content .cqncAnimate .position ul #soundBth {
	margin-top: 15px;
	float: right
}
.content .cqncAnimate .position ul .soundsOn {
	width: 50px;
	height: 50px;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -287px -22px no-repeat
}
.content .cqncAnimate .position ul .soundsOff {
	width: 50px;
	height: 50px;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -216px -22px no-repeat
}
.content .cqncAnimate .cutTime {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 190px
}
.content .cqncAnimate .cutTime div {
	width: 360px;
	height: inherit;
	margin: 0 auto;
	line-height: 100px;
	text-align: center
}
.content .cqncAnimate .cutTime #hourtxt {
	font-family: DS-Digital;
	padding: 0;
	font-size: 60px;
	color: #d6ab00
}
.content .cqncAnimate .cutTime #opening {
	display: none;
	width: 180px;
	height: 40px;
	margin-top: 50px;
	margin-left: 100px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	font-size: 30px;
	font-weight: 800;
	color: #d6ab00
}
.content .cqncAnimate .runCode {
	position: absolute;
	width: 100%;
	height: 115px;
	top: 309px
}
.content .cqncAnimate .runCode ul {
	width: 300px;
	height: 45px;
	margin: 0 auto
}
.content .cqncAnimate .runCode #curNumUl li {
	float: left;
	width: 40px;
	height: 40px
}
.content .cqncAnimate .runCode #curNumUl span {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	margin-top: 13px
}
.content .cqncAnimate .runCode #curNumUl .firstBall {
	margin-left: 22px;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -30px -25px no-repeat
}
.content .cqncAnimate .runCode #curNumUl .firstBall span {
	margin-left: 12px
}
.content .cqncAnimate .runCode #curNumUl .secondBall {
	margin-left: 69px;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -87px -25px no-repeat
}
.content .cqncAnimate .runCode #curNumUl .secondBall span {
	margin-left: 12px
}
.content .cqncAnimate .runCode #curNumUl .thirdBall {
	margin-left: 75px;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -143px -25px no-repeat
}
.content .cqncAnimate .runCode #curNumUl .thirdBall span {
	margin-left: 12px
}
.content .cqncAnimate .runCode #runNumUl {
	height: 70px;
	position: relative
}
.content .cqncAnimate .runCode #runNumUl .parLi {
	float: left;
	width: 32px;
	height: 100%;
	margin-left: 82px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul,.content .cqncAnimate .runCode #runNumUl .secondBallPip ul,.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul {
	width: auto;
	height: inherit;
	float: left;
	position: relative
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li,.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li,.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li {
	position: absolute;
	width: 13px;
	height: 13px;
	margin-bottom: 1px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: last-child,.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: last-child,.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: last-child {
	margin-bottom: 0
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: first-child,.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: first-child,.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: first-child {
	top: 0
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: nth-child(2),.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: nth-child(2),.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: nth-child(2) {
	top: 14px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: nth-child(3),.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: nth-child(3),.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: nth-child(3) {
	top: 28px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: nth-child(4),.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: nth-child(4),.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: nth-child(4) {
	top: 42px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip ul li: nth-child(5),.content .cqncAnimate .runCode #runNumUl .secondBallPip ul li: nth-child(5),.content .cqncAnimate .runCode #runNumUl .thirdBallPip ul li: nth-child(5) {
	top: 56px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip .rightUl,.content .cqncAnimate .runCode #runNumUl .secondBallPip .rightUl,.content .cqncAnimate .runCode #runNumUl .thirdBallPip .rightUl {
	margin-left: 15px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip {
	margin-left: 24px
}
.content .cqncAnimate .runCode #runNumUl .firstBallPip li {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -34px -97px no-repeat
}
.content .cqncAnimate .runCode #runNumUl .secondBallPip {
	margin-left: 80px
}
.content .cqncAnimate .runCode #runNumUl .secondBallPip li {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -65px -97px no-repeat
}
.content .cqncAnimate .runCode #runNumUl .thirdBallPip li {
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -94px -97px no-repeat
}
.content .cqncAnimate .tryKai {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 530px
}
.content .cqncAnimate .tryKai .jzCheck {
	position: absolute;
	display: inline-block;
	top: -30px;
	width: 127px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 4px;
	background: rgba(0,0,0,.7);
	color: hsla(0,0%,98%,.8);
	margin-left: 500px
}
.content .cqncAnimate .tryKai #tryBtn {
	display: block;
	width: 150px;
	height: 50px;
	margin: 0 auto;
	background: url("http://kj.kai861.com/view/video/fc3DVideo/img/3Dxt.png") -137px -88px no-repeat
}