body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul {
	margin: 0;
	padding: 0
}
body {
	font: 12px '微軟正黑體',Arial Narrow,HELVETICA;
	
	-webkit-text-size-adjust: 100%
}
a {
	color: #2d374b;
	text-decoration: none
}
a: hover {
	color: #cd0200;
	text-decoration: underline
}
.logo {
	width: 272px;
	height: 76px;
	display: inline-block;
	float: left;
	cursor: pointer
}
em {
	font-style: normal
}
li {
	list-style: none
}
img {
	border: 0;
	vertical-align: middle
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
p {
	word-wrap: break-word
}
.video_box {
	width: 1125px;
	height: 750px;
	margin: 0 auto;
	position: relative;
	transform-origin: left top
}
.video_box .ball {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin-right: 2px;
	font-family: Arial Bold;
	font-size: 30px;
	font-weight: 600;
	line-height: 60px;
	color: #1a1e75;
	text-align: center
}
/*上下排藍色的球*/
.video_box .blue {

	background: url("http://kj.kai861.com/view/video/GDklsf/img/ball_skyblue.png") 0 0 no-repeat
}
/**紅色的球*/
.video_box .red {
	background: url("http://kj.kai861.com/view/video/GDklsf/img/ball_red.png") 0 0 no-repeat;
	color: #3d1d05
}
/*中間藍色的球*/
.video_box .light_skyblue {
	background: url("http://kj.kai861.com/view/video/GDklsf/img/light_skyblue.png") 0 0 no-repeat
}
.video_box .small {
	transform: scale(.1);
	-ms-transform: scale(.1);
	-moz-transform: scale(.1);
	-webkit-transform: scale(.1);
	-o-transform: scale(.1)
}
.video_box .middle_box {
	left: 368px;
	overflow: hidden;
	position: relative;
	top: 87px;
	width: 385px;
	height: 333px;
	border-radius: 42%;
	border-top-left-radius: 34%;
	border-top-right-radius: 32%
}
.video_box .middle_box li {
	float: left;
	position: absolute;
	top: 0;
	left: 0
}
.video_box .posBG {
	width: 403px;
	height: 83px;
	position: absolute;
	top: 500px;
	z-index: 1;
	left: 331px;
	background: url("http://kj.kai861.com/view/video/GDklsf/img/move_lubg.png") 100% 100% no-repeat
}
#tjVideoBox {
	background: url("http://kj.kai861.com/view/video/GDklsf/img/tjklsf.jpg") 0 0 no-repeat
}
/*遊戲背景*/
#az8VideoBox {
	height: 900px;
	background: url("http://kj.kai861.com/view/video/GDklsf/img/xingyun8.jpg") 0 0 no-repeat
}
.center_box {
	width: 540px;
	height: 120px;
	margin: 0 auto;
	position: relative
}
.center_box div {
	border-top: 1px solid transparent;
	height: 79px;
	width: 100%
}
.center_box div ul {
	overflow: hidden;
	margin-top: 10px
}
.center_box div ul li: first-child {
	margin-left: 22px
}
.center_box P {
	height: 40px;
	width: 280px;
	text-align: center;
	margin: 0 auto;
	line-height: 40px;
	font-size: 20px;
	color: #fff
}
.center_box .opening {
	line-height: 55px;
	font-size: 24px;
	border-radius: 4px
}
.center_box .opening,.center_box .Time_box {
	position: absolute;
	top: 145px;
	left: 163px;
	height: 55px;
	width: 215px;
	color: #fff000;
	text-align: center
}
.center_box .Time_box {
	font-family: DS-Digital;
	font-size: 52px
}
.right_box {
	width: 230px;
	height: 80px;
	float: right;
	margin-top: -120px
}
.right_box .Tibox {
	height: 60px;
	margin-top: 10px;
	width: 70%;
	margin-left: 30%
}
.right_box .Tibox p {
	height: 40%;
	line-height: 32px;
	font-size: 16px;
	color: #fff
}
.right_box .btnBox {
	float: left;
	width: 48px;
	height: 48px;
	margin-top: 16px
}
/*音效*/
.right_box .btnBox button {
	width: 100%;
	height: 100%;
	outline: 0;
	border: 0;
	background: url("http://kj.kai861.com/view/video/GDklsf/img/sound.png") -1px -1px no-repeat
}
.right_box .btnBox .off {
	background: url("http://kj.kai861.com/view/video/GDklsf/img/offsound.png") -1px -1px no-repeat
}
/*模擬開獎div*/
.bottom_box .kaiBtn {
	background-color: #000;
	/*width: 85px;height: 85px;*/
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: transparent;
	border: 0;
	position: relative;
	top: 142px;
	left: 521px;
	outline: none
}
.bottom_box .result_box {
	position: relative;
	top: 68px;
	left: 250px
}
.bottom_box .result_box ul li {
	margin-right: 1px
}
.bottom_box .result_box ul li: nth-child(4) {
	margin-right: 137px
}
.bottom_box .result_box .ball {
	transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-o-transition: all .6s
}
.soundbox {
	display: none
}
#rethtml .small {
	transform: scale(1)!important;
	-ms-transform: scale(1)!important;
	-moz-transform: scale(1)!important;
	-webkit-transform: scale(1)!important;
	-o-transform: scale(1)!important
}