* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 微軟正黑體;
}
.small {
	transform: scale(.1)!important;
	-ms-transform: scale(.1);
	-moz-transform: scale(.1);
	-webkit-transform: scale(.1);
	-o-transform: scale(.1)
}
.ball {
	transition: all .6s;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	-o-transition: all .6s
}
.middle {
	transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1)
}
.comNum {
	float: left;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 28px;
	background: url("http://kj.kai861.com/view/video/gxklsf_video/img/tmNum.png") no-repeat
}
.actNum,.comNum {
	text-align: center;
	color: #86d4f9;
	transition: all .1s
}
.actNum {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-left: 80px!important;
	margin-top: 80px!important;
	transform: none!important;
	z-index: 1;
	background: url("http://kj.kai861.com/view/video/gxklsf_video/img/actBorder.png") no-repeat
}
.content {
	width: 1125px;
	height: 780px;
	margin: 0 auto;
	transform-origin: left top
}
.content .cqncAnimate {
	position: relative;
	width: 1125px;
	height: 780px
}
.content .cqncAnimate .bodybg {
	width: 100%;
	height: auto
}
.content .cqncAnimate .bodybg img {
	vertical-align: top;
	width: 100%;
	height: 100%
}
.content .cqncAnimate .zhezao {
	position: absolute;
	top: 0;
	left: 99px;
	width: 927px;
	height: 180px
}
.content .cqncAnimate .position {
	position: absolute;
	width: 899px;
	height: 70px;
	top: 0;
	width: 100%;
	font-size: 30px
}
.content .cqncAnimate .position .logo {
	float: left;
	width: 230px;
	height: inherit;
	line-height: 70px;
	cursor: pointer
}
.content .cqncAnimate .position .logo img {
	margin-left: 25px
}
.content .cqncAnimate .position .kaiDiv {
	float: left;
	width: 653px;
	height: inherit
}
.content .cqncAnimate .position .kaiDiv ul {
	width: 60%;
	height: inherit;
	margin-left: 20%
}
.content .cqncAnimate .position .kaiDiv ul li {
	float: left;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	margin-top: 14px;
	margin-left: 30px;
	font-size: 28px;
	font-weight: 800;
	color: #ffea00;
	background: url("http://kj.kai861.com/view/video/gxklsf_video/img/tmNum.png") no-repeat
}
.content .cqncAnimate .position .defDiv {
	float: right;
	width: 242px;
	height: 70px;
	font-size: 16px;
	color: #fff
}
.content .cqncAnimate .position .defDiv .drawTimeDiv {
	margin-top: 15px;
	float: left;
	width: 160px
}
.content .cqncAnimate .position .defDiv #soundBth {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	display: block;
	width: 50px;
	height: 50px
}
.content .cqncAnimate .position .defDiv .soundsOn {
	background: url("http://kj.kai861.com/view/video/gxklsf_video/img/open.png")
}
.content .cqncAnimate .position .defDiv .soundsOff {
	background: url("../img/off.png?v=2019561820")
}
.content .cqncAnimate .position .kaiArea {
	width: 100%;
	height: 200px;
	margin-top: 340px;
	margin-bottom: 8px
}
.content .cqncAnimate .position .kaiArea div {
	position: absolute;
	width: 200px;
	height: 336px;
	background: url("http://kj.kai861.com/view/video/gxklsf_video/img/light.png");
	background-position-y: -52px;
	margin-right: 22px
}
.content .cqncAnimate .position .kaiArea .KaiUl {
	position: relative;
	width: 100%;
	height: 100%
}
.content .cqncAnimate .position .kaiArea .KaiUl li {
	position: absolute
}
.content .cqncAnimate .position .kaiArea .oneKaiBox {
	margin-left: 53px;
	margin-right: 10px
}
.content .cqncAnimate .position .kaiArea .twoKaiBox {
	margin-left: 259px
}
.content .cqncAnimate .position .kaiArea .threeKaiBox {
	margin-left: 467px
}
.content .cqncAnimate .position .kaiArea .fourKaiBox {
	margin-left: 673px
}
.content .cqncAnimate .position .kaiArea .fiveKaiBox {
	margin-left: 880px
}
.content .cqncAnimate .position #newKaiList {
	width: 100%;
	height: 45px;
	font-size: 28px;
	color: #ffea00;
	font-weight: 800
}
.content .cqncAnimate .position #newKaiList li {
	float: left;
	width: 100px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin-left: 106px
}
.content .cqncAnimate .position #newKaiList li: first-child {
	margin-left: 104px
}
.content .cqncAnimate .position #newKaiList li: last-child {
	margin-right: 0
}
.content .cqncAnimate .position #newKaiList li: nth-child(3) {
	margin-right: 108px
}
.content .cqncAnimate .cutTime {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 130px
}
.content .cqncAnimate .cutTime div {
	width: 360px;
	height: inherit;
	margin: 0 auto;
	line-height: 100px;
	text-align: center
}
.content .cqncAnimate .cutTime #hourtxt {
	font-family: DS-Digital;
	padding: 0;
	font-size: 60px;
	color: #86d4f9
}
.content .cqncAnimate .cutTime #opening {
	display: none;
	width: 180px;
	height: 40px;
	margin-top: 50px;
	margin-left: 100px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	font-size: 30px;
	font-weight: 800;
	color: #d6ab00
}
.content .cqncAnimate .tryKai {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 670px
}
.content .cqncAnimate .tryKai .jzCheck {
	position: absolute;
	display: inline-block;
	top: -30px;
	width: 127px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 4px;
	background: rgba(0,0,0,.7);
	color: hsla(0,0%,98%,.8);
	margin-left: 500px
}
.content .cqncAnimate .tryKai #tryBtn {
	display: block;
	font-size: 24px;
	color: #24c2b5;
	font-weight: 800;
	width: 155px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin: 0 auto;
	border-radius: 25px;
	cursor: pointer
}