body {
	font-family: Microsoft YaHei,'微軟正黑體',STXihei,serif;
	color: #fff
}
.container {
	width: 1334px;
	height: 870px;
	margin: 0 auto;
	overflow: hidden;
	position: fixed
}
.header {
	height: 90px;
	background: #00c url("http://kj.kai861.com/view/video/jisuft_video/images/top_header.png");
	position: relative
}
.jisuft_logo {
	top: 20px;
	left: 39px;
	cursor: pointer
}
.jisuft_logo,.position {
	position: absolute
}
.position {
	top: 15px;
	left: 290px
}
.positm {
	float: left;
	margin-right: 5px;
	background: url("http://kj.kai861.com/view/video/jisuft_video/images/numbersprite.png") no-repeat 0 0;
	width: 64px;
	height: 64px
}
.num1 {
	background-position: 0 0
}
.num2 {
	background-position: 0 -64px
}
.num3 {
	background-position: 0 -128px
}
.num4 {
	background-position: 0 -192px
}
.num5 {
	background-position: 0 -256px
}
.num6 {
	background-position: 0 -320px
}
.num7 {
	background-position: 0 -384px
}
.num8 {
	background-position: 0 -448px
}
.num9 {
	background-position: 0 -512px
}
.num10 {
	background-position: 0 -576px
}
.scenary {
	height: 170px;
	position: relative
}
.scenaryitm {
	position: absolute;
	left: -1334px
}
.road {
	height: 520px;
	position: relative
}
.roadani {
	width: 1334px;
	height: 520px;
	left: 0;
	overflow: hidden
}
.roadani,.roaditm {
	position: absolute;
	top: 0
}
.roaditm {
	left: -1300px
}
.flag {
	position: absolute;
	bottom: 0;
	left: -150px
}
.car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10 {
	position: absolute;
	transition: top .4s
}
.soundbox {
	display: none
}
.car1 {
	top: -11px;
	left: 1209px
}
.car2 {
	top: 22px;
	left: 1199px
}
.car3 {
	top: 61px;
	left: 1187px
}
.car4 {
	top: 104px;
	left: 1174px
}
.car5 {
	top: 153px;
	left: 1159px
}
.car6 {
	top: 204px;
	left: 1144px
}
.car7 {
	top: 254px;
	left: 1128px
}
.car8 {
	top: 312px;
	left: 1110px
}
.car9 {
	top: 370px;
	left: 1091px
}
.car10 {
	top: 435px;
	left: 1072px
}
.roadstart {
	position: absolute;
	top: 0;
	left: 960px;
	display: block
}
.roadstart>img {
	opacity: .3
}
.wheel1a {
	left: 29px;
	top: 21px
}
.wheel1a,.wheel1b {
	position: absolute;
	display: none
}
.wheel1b {
	left: 124px;
	top: 20px
}
.wheel2a {
	left: 29px;
	top: 21px
}
.wheel2a,.wheel2b {
	position: absolute;
	display: none
}
.wheel2b {
	left: 128px;
	top: 20px
}
.wheel3a {
	left: 32px;
	top: 23px
}
.wheel3a,.wheel3b {
	position: absolute;
	display: none
}
.wheel3b {
	left: 133px;
	top: 22px
}
.wheel4a {
	left: 32px
}
.wheel4a,.wheel4b {
	position: absolute;
	top: 23px;
	display: none
}
.wheel4b {
	left: 135px
}
.wheel5a {
	left: 36px;
	top: 24px
}
.wheel5a,.wheel5b {
	position: absolute;
	display: none
}
.wheel5b {
	left: 149px;
	top: 23px
}
.wheel6a {
	left: 39px;
	top: 27px
}
.wheel6a,.wheel6b {
	position: absolute;
	display: none
}
.wheel6b {
	left: 159px;
	top: 26px
}
.wheel7a {
	position: absolute;
	left: 39px;
	top: 32px;
	display: none
}
.wheel7b {
	left: 166px
}
.wheel7b,.wheel8a {
	position: absolute;
	top: 31px;
	display: none
}
.wheel8a {
	left: 42px
}
.wheel8b {
	left: 172px;
	top: 31px
}
.wheel8b,.wheel9a {
	position: absolute;
	display: none
}
.wheel9a {
	left: 44px;
	top: 33px
}
@-webkit-keyframes a {
	0% {
	opacity: .3
}
to {
	opacity: 1
}
}@keyframes a {
	0% {
	opacity: .3
}
to {
	opacity: 1
}
}@-webkit-keyframes b {
	0% {
	opacity: .3;
	width: 130%;
	top: 0
}
to {
	opacity: .8;
	width: 138%;
	top: 32
}
}@keyframes b {
	0% {
	opacity: .3;
	width: 130%;
	top: 0
}
to {
	opacity: .8;
	width: 138%;
	top: 32
}
}.wheel9b {
	left: 182px;
	top: 32px
}
.wheel9b,.wheel10a {
	position: absolute;
	display: none
}
.wheel10a {
	left: 4%;
	top: 10%;
	width: 100%
}
.wheel10a img {
	width: 138%;
	animation: a .01s ease-in-out infinite
}
.wheel10b {
	position: absolute;
	left: -5%;
	top: 11%;
	width: 100%;
	display: none
}
.wheel10b img {
	width: 138%;
	animation: b .05s ease-in infinite
}
.trafficlight {
	position: absolute;
	top: 185px;
	left: 340px;
	width: 636px;
	height: 128px
}
.soundBox {
	float: right;
	margin-top: 0;
	line-height: 0
}
.soundBox>button {
	width: 50px;
	height: 50px;
	outline: none;
	border: 0;
	background: url("http://kj.kai861.com/view/video/jisuft_video/images/on.png")
}
.soundBox>button.off {
	background: url("http://kj.kai861.com/view/video/jisuft_video/images/off.png")
}
.redlight {
	left: 377px
}
.redlight,.yellowlight {
	position: absolute;
	top: -32px;
	display: none
}
.yellowlight {
	left: 179px
}
.greenlight {
	position: absolute;
	left: -23px;
	top: -33px;
	display: none
}
.countdownnum {
	top: -99px;
	left: 115px;
	font-size: 120px;
	line-height: 80px;
	text-align: right;
	width: 308px;
	height: 87px
}
.countdownnum,.countdownnum2 {
	font-family: DS-Digital;
	position: absolute;
	color: #fff;
	widht: 200px
}
.countdownnum2 {
	top: -72px;
	left: 433px;
	font-size: 70px;
	line-height: 60px;
	text-align: left;
	width: 90px;
	height: 63px
}
.currentdraw {
	position: absolute;
	left: 1055px;
	top: 20px;
	font-size: 27px;
	width: 265px;
	height: 51px;
	line-height: 51px
}
#currentdrawid {
	font-family: arial
}
.footer {
	height: 90px;
	width: 100%;
	background: url("http://kj.kai861.com/view/video/jisuft_video/images/bg-bottom.jpg");
	position: absolute;
	font-size: 28px;
	top: 780px
}
.footer1 {
	width: 370px;
	height: 70px;
	border: 3px solid #596b85;
	border-radius: 5px;
	white-space: nowrap
}
.footer1,.footer1_2 {
	margin-left: 10px;
	float: left
}
.footer1_2 {
	width: 250px;
	margin-top: 25px;
	line-height: 28px;
	font-family: arial
}
.footer2 {
	margin-left: 10px;
	width: 370px;
	height: 70px;
	border: 3px solid #596b85;
	border-radius: 5px;
	float: left
}
.footer2_1 {
	float: left;
	width: 120px;
	margin-left: 20px;
	margin-top: 15px
}
.footer2_2 {
	float: left;
	margin-left: 15px;
	margin-top: 7px;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	border-radius: 30px;
	background: #00baff
}
.footer3 {
	margin-left: 10px;
	width: 505px;
	height: 70px;
	border: 3px solid #596b85;
	border-radius: 5px;
	float: left
}
.flashlight {
	width: 100%;
	height: 639px;
	background-color: #fff;
	top: 114px
}
.flashlight,.wind {
	position: absolute;
	display: none
}
.wind {
	top: -5px;
	left: -25px
}
.flame {
	position: absolute;
	display: none;
	height: 15px;
	width: 20%;
	bottom: 15%;
	right: -18%
}
.flame img {
	width: 100%;
	height: auto!important;
	animation: a .05s ease-in infinite
}
.page1 {
	display: block
}
.resultpage {
	width: 1334px;
	height: 690px;
	display: none;
	position: relative;
	background-image: url("http://kj.kai861.com/view/video/jisuft_video/images/resultbg.jpg")
}
.resultitm {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0)
}
.result1 {
	top: 80px;
	left: 568px
}
.result2 {
	left: 173px;
	top: 107px
}
.result3 {
	left: 960px;
	top: 121px
}
.resultcar1 {
	top: 328px;
	left: 395px
}
.resultcar2 {
	top: 287px;
	left: 81px
}
.resultcar3 {
	top: 291px;
	left: 859px
}