* {
	margin: 0;
	padding: 0
}
body,html {
	height: 100%;
	font-size: 100px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	margin: 0
}
@-webkit-keyframes a {
	0% {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg)
}
to {
	-webkit-transform: rotateY(2turn);
	transform: rotateY(2turn)
}
}@-webkit-keyframes b {
	0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
to {
	-webkit-transform: rotate(2turn);
	transform: rotate(2turn)
}
}.cqsscAnimate {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	width: 1200px
}
.cqsscAnimate .afterbg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/afterbg.png") no-repeat 0 0
}
.cqsscAnimate .beforebg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/before.png") no-repeat 0 0
}
.cqsscAnimate .bigbg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/big.png") no-repeat 0 0
}
.cqsscAnimate .smallbg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/small.png") no-repeat 0 0
}
.cqsscAnimate .singlebg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/single.png") no-repeat 0 0
}
.cqsscAnimate .doublebg {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/double.png") no-repeat 0 0
}
.cqsscAnimate .num0 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/0.png") no-repeat 0 0
}
.cqsscAnimate .num1 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/1.png") no-repeat 0 0
}
.cqsscAnimate .num2 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/2.png") no-repeat 0 0
}
.cqsscAnimate .num3 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/3.png") no-repeat 0 0
}
.cqsscAnimate .num4 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/4.png") no-repeat 0 0
}
.cqsscAnimate .num5 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/5.png") no-repeat 0 0
}
.cqsscAnimate .num6 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/6.png") no-repeat 0 0
}
.cqsscAnimate .num7 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/7.png") no-repeat 0 0
}
.cqsscAnimate .num8 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/8.png") no-repeat 0 0
}
.cqsscAnimate .num9 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/9.png") no-repeat 0 0
}
.cqsscAnimate .cznum0 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num0.png") no-repeat 0 0
}
.cqsscAnimate .cznum1 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num1.png") no-repeat 0 0
}
.cqsscAnimate .cznum2 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num2.png") no-repeat 0 0
}
.cqsscAnimate .cznum3 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num3.png") no-repeat 0 0
}
.cqsscAnimate .cznum4 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num4.png") no-repeat 0 0
}
.cqsscAnimate .cznum5 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num5.png") no-repeat 0 0
}
.cqsscAnimate .cznum6 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num6.png") no-repeat 0 0
}
.cqsscAnimate .cznum7 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num7.png") no-repeat 0 0
}
.cqsscAnimate .cznum8 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num8.png") no-repeat 0 0
}
.cqsscAnimate .cznum9 {
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/num/num9.png") no-repeat 0 0
}
.cqsscAnimate .perspectiveView .out {
	display: none
}
.cqsscAnimate .loading {
	background: hsla(0,0%,5%,.99);
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	min-height: 100px;
	z-index: 1;
	top: 0;
	left: 0
}
.cqsscAnimate .loading .loadtxt {
	height: 80px;
	width: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	color: #fff;
	font-size: 18px
}
.cqsscAnimate .bodybg {
	width: 100%;
	height: auto;
	text-align: center;
	position: relative
}
.cqsscAnimate .bodybg img {
	vertical-align: top;
	width: 100%;
	clear: both
}
.cqsscAnimate .disnone {
	display: none
}
.cqsscAnimate .content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}
.cqsscAnimate .content .nameLogo {
	width: 26%;
	margin-left: 23%;
	height: 20%;
	cursor: pointer
}
.cqsscAnimate .content .coderbox {
	width: 100%;
	margin-top: 1%;
	height: 50%;
	border-sizing: border-box;
	border: 1px solid transparent
}
.cqsscAnimate .content .coderbox .codeboxl {
	width: 46%;
	margin-left: 13%;
	margin-top: 1%;
	height: 100%;
	background-size: 100%;
	display: inline-block;
	float: left
}
.cqsscAnimate .content .coderbox .codeboxl .line {
	width: 100%;
	height: 28%;
	display: flex;
	display: -ms-flexbox;
	flex-flow: row;
	overflow: hidden
}
.cqsscAnimate .content .coderbox .codeboxl .line .box {
	flex: 1;
	margin: 1%;
	background-size: 97%;
	width: 100%
}
.cqsscAnimate .content .coderbox .codeboxl .line .box span {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	background-size: 100%;
	font-weight: 700;
	min-height: 200px
}
.cqsscAnimate .content .coderbox .codeboxl .tl .box {
	animation: a 1s 1;
	-moz-animation: a 1s 1;
	-webkit-animation: a 1s 1;
	-o-animation: a 1s 1
}
.cqsscAnimate .content .coderbox .codeboxl .ml {
	margin-top: 5%;
	text-align: center;
	font-family: '微軟正黑體';
	font-size: 50%
}
.cqsscAnimate .content .coderbox .codeboxl .ml .box {
	animation: b 2s 1;
	-moz-animation: b 2s 1;
	-webkit-animation: b 2s 1;
	-o-animation: b 2s 1
}
.cqsscAnimate .content .coderbox .codeboxl .bl {
	margin-top: 5%
}
.cqsscAnimate .content .coderbox .codeboxl .bl .box {
	animation: a 1s 1;
	-moz-animation: a 1s 1;
	-webkit-animation: a 1s 1;
	-o-animation: a 1s 1
}
.cqsscAnimate .content .coderbox .codeboxr {
	width: 24%;
	margin-top: 1%;
	height: 100%;
	float: left;
	margin-left: 3%;
	background-size: 100%;
	display: inline-block
}
.cqsscAnimate .content .coderbox .codeboxr .heiban {
	width: 98%;
	height: 56%;
	font-size: .19rem;
	padding: 16% 13%;
	box-sizing: border-box
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .redfont {
	color: red
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .bluefont {
	color: #0f81eb;
	font-size: 25px;
	vertical-align: bottom;
	position: absolute;
	left: 40%;
	top: 12px
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .line1 {
	text-align: center;
	width: 100%;
	height: 27%;
	text-align: left;
	display: flex;
	display: -ms-flexbox;
	white-space: nowrap
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .line1 .djs,.cqsscAnimate .content .coderbox .codeboxr .heiban .line1 .oping {
	width: 100%;
	height: auto;
	display: none;
	position: relative
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .line1 .oping {
	color: #0f81eb
}
.cqsscAnimate .content .coderbox .codeboxr .heiban .cuttimetitle {
	position: absolute;
	left: 0;
	top: 42%
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb {
	width: 98%;
	height: 56%;
	font-size: 12px;
	box-sizing: border-box;
	color: #fff
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .line {
	text-align: center;
	width: 100%;
	height: 27%;
	text-align: left;
	display: flex;
	display: -ms-flexbox
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .smallnum {
	width: 100%;
	display: flex;
	display: -ms-flexbox;
	height: 26%;
	margin-top: 4%
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .smallnum .box {
	flex: 1;
	margin: 1%;
	background-size: 97%;
	width: 100%
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .smallnum .box span {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: 100%;
	vertical-align: top;
	min-height: 100px
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .smallnum .box .orbtn {
	background-size: 100%;
	background: #d88629;
	line-height: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 18% 0;
	border-radius: 10%;
	-moz-border-radius: 10%;
	-webkit-border-radius: 10%
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .bckj {
	font-size: .19rem;
	margin-top: 25%
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .bckj span {
	margin-right: 7%;
	text-align: center
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .bckj span: last-child {
	margin-right: 0
}
.cqsscAnimate .content .coderbox .codeboxr .heibanb .cuttimetitle {
	padding-top: 9%
}
.cqsscAnimate .content .menubox {
	width: 100%;
	margin-top: 1%;
	height: 16%
}
/*試試手氣btn*/
.cqsscAnimate .content .menubox .tyrbtn {
	width: 16%;
	height: 60%;
	margin-left: 26%;
	margin-top: 2%;
	display: inline-block;
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/trybtn.png") no-repeat 0 0;
	background-size: 100%;
	float: left;
	cursor: pointer
}
/*音樂btn*/
.cqsscAnimate .content .menubox .soundbtn {
	margin-left: 2%;
	width: 10%;
	height: 60%;
	display: inline-block;
	float: left;
	margin-top: 2%;
	background: url("http://kj.kai861.com/view/video/SSC/img/cqssc/vulebtn.png") no-repeat 0 8%;
	background-size: 63%;
	cursor: pointer
}
.cqsscAnimate .content .menubox .closesoundbtn {
	background-position-y: 80%
}
.cqsscAnimate .content #numBig {
	color: #333
}