body {
	font-family: Microsoft YaHei,'微軟正黑體',serif;
	color: #fff
}
.container {
	width: 1334px;
	height: 870px;
	margin: 0 auto;
	overflow: hidden;
	position: relative
}
.header {
	height: 114px;
	background-image: url("http://kj.kai861.com/view/video/PK10/images/top_header.jpg");
	position: relative
}
.logo {
	top: 24px;
	left: 39px;
	cursor: pointer
}
.logo,.position {
	position: absolute
}
.position {
	top: 21px;
	left: 390px
}
.positm {
	float: left;
	margin-right: 5px;
	background: url("http://kj.kai861.com/view/video/PK10/images/numbersprite.png") no-repeat 0 0;
	width: 64px;
	height: 64px
}
.num1 {
	background-position: 0 0
}
.num2 {
	background-position: 0 -64px
}
.num3 {
	background-position: 0 -128px
}
.num4 {
	background-position: 0 -192px
}
.num5 {
	background-position: 0 -256px
}
.num6 {
	background-position: 0 -320px
}
.num7 {
	background-position: 0 -384px
}
.num8 {
	background-position: 0 -448px
}
.num9 {
	background-position: 0 -512px
}
.num10 {
	background-position: 0 -576px
}
.scenary {
	height: 119px;
	position: relative
}
.scenaryitm {
	position: absolute;
	left: -1334px
}
.road {
	height: 520px;
	position: relative
}
.roadani {
	width: 1334px;
	height: 520px;
	left: 0;
	overflow: hidden
}
.roadani,.roaditm {
	position: absolute;
	top: 0
}
.roaditm {
	left: -1300px
}
.flag {
	bottom: 0;
	left: -150px
}
.car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8,.car9,.car10,.flag {
	position: absolute
}
.car1 {
	top: -23px;
	left: 1206px
}
.car2 {
	top: 19px;
	left: 1197px
}
.car3 {
	top: 55px;
	left: 1181px
}
.car4 {
	top: 104px;
	left: 1166px
}
.car5 {
	top: 153px;
	left: 1153px
}
.car6 {
	top: 204px;
	left: 1139px
}
.car7 {
	top: 259px;
	left: 1128px
}
.car8 {
	top: 321px;
	left: 1105px
}
.car9 {
	top: 382px;
	left: 1084px
}
.car10 {
	top: 451px;
	left: 1067px
}
.roadstart {
	position: absolute;
	top: 0;
	left: 960px;
	display: block
}
.wheel1a {
	left: 29px;
	top: 21px
}
.wheel1a,.wheel1b {
	position: absolute;
	display: none
}
.wheel1b {
	left: 124px;
	top: 20px
}
.wheel2a {
	left: 29px;
	top: 21px
}
.wheel2a,.wheel2b {
	position: absolute;
	display: none
}
.wheel2b {
	left: 128px;
	top: 20px
}
.wheel3a {
	left: 32px;
	top: 23px
}
.wheel3a,.wheel3b {
	position: absolute;
	display: none
}
.wheel3b {
	left: 133px;
	top: 22px
}
.wheel4a {
	left: 32px
}
.wheel4a,.wheel4b {
	position: absolute;
	top: 23px;
	display: none
}
.wheel4b {
	left: 135px
}
.wheel5a {
	left: 36px;
	top: 24px
}
.wheel5a,.wheel5b {
	position: absolute;
	display: none
}
.wheel5b {
	left: 149px;
	top: 23px
}
.wheel6a {
	left: 39px;
	top: 27px
}
.wheel6a,.wheel6b {
	position: absolute;
	display: none
}
.wheel6b {
	left: 159px;
	top: 26px
}
.wheel7a {
	position: absolute;
	left: 39px;
	top: 32px;
	display: none
}
.wheel7b {
	left: 166px
}
.wheel7b,.wheel8a {
	position: absolute;
	top: 31px;
	display: none
}
.wheel8a {
	left: 42px
}
.wheel8b {
	left: 172px;
	top: 31px
}
.wheel8b,.wheel9a {
	position: absolute;
	display: none
}
.wheel9a {
	left: 44px;
	top: 33px
}
.wheel9b {
	left: 182px;
	top: 32px
}
.wheel9b,.wheel10a {
	position: absolute;
	display: none
}
.wheel10a {
	left: 46px;
	top: 35px
}
.wheel10b {
	position: absolute;
	left: 191px;
	top: 33px;
	display: none
}
.trafficlight {
	position: absolute;
	top: 145px;
	left: 340px;
	background-image: url("http://kj.kai861.com/view/video/PK10/images/trafficlight.png");
	width: 636px;
	height: 128px
}
.redlight {
	left: 377px
}
.redlight,.yellowlight {
	position: absolute;
	top: -32px;
	display: none
}
.yellowlight {
	left: 179px
}
.greenlight {
	position: absolute;
	left: -23px;
	top: -33px;
	display: none
}
.countdownnum {
	top: -99px;
	left: 115px;
	font-size: 120px;
	line-height: 80px;
	text-align: right;
	width: 308px;
	height: 87px
}
.countdownnum,.countdownnum2 {
	font-family: DS-Digital;
	position: absolute;
	color: #fff;
	widht: 200px
}
.countdownnum2 {
	top: -72px;
	left: 433px;
	font-size: 70px;
	line-height: 60px;
	text-align: left;
	width: 90px;
	height: 63px
}
.currentdraw {
	position: absolute;
	left: 1101px;
	top: 33px;
	font-size: 27px;
	width: 255px;
	height: 51px
}
#currentdrawid {
	font-family: arial
}
.footer {
	height: 140px;
	width: 100%;
	background-color: #202020;
	position: absolute;
	font-size: 28px;
	top: 753px
}
.footer1 {
	margin-top: 10px;
	margin-left: 26px;
	width: 360px;
	height: 88px;
	border: 4px solid #333;
	border-radius: 5px;
	float: left
}
.footer1_1 {
	float: left;
	width: 80px;
	margin-left: 20px;
	margin-top: 20px
}
#closeSound {
	display: inline-block;
	height: 100%;
	width: 22%;
	background: url("http://kj.kai861.com/view/video/PK10/images/vulebtn.png") no-repeat 0 8%;
	background-size: 90%;
	cursor: pointer;
	position: absolute;
	right: 38px
}
.closesoundbtn {
	background-position-y: 80%!important
}
.footer1_2 {
	width: 250px;
	margin-top: 30px;
	line-height: 28px;
	font-family: arial
}
.footer1_2,.footer2 {
	float: left;
	margin-left: 10px
}
.footer2 {
	margin-top: 10px;
	width: 370px;
	height: 88px;
	border: 4px solid #333;
	border-radius: 5px
}
.footer2_1 {
	float: left;
	width: 120px;
	margin-left: 20px;
	margin-top: 20px
}
.footer2_2 {
	margin-top: 12px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 30px;
	background: #0191de;
	background: linear-gradient(180deg,#0191de 0,#09418b);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0191de",endColorstr="#09418b",GradientType=0)
}
.footer2_2,.footer3 {
	float: left;
	margin-left: 10px
}
.footer3 {
	margin-top: 10px;
	width: 505px;
	height: 88px;
	border: 4px solid #333;
	border-radius: 5px
}
.flashlight {
	width: 100%;
	height: 639px;
	background-color: #fff;
	top: 114px
}
.flashlight,.wind {
	position: absolute;
	display: none
}
.wind {
	top: -3px;
	left: -11px
}
.flame {
	position: absolute;
	display: none
}
.page1 {
	display: block
}
.resultpage {
	width: 1334px;
	height: 639px;
	display: none;
	position: relative;
	background-image: url("http://kj.kai861.com/view/video/PK10/images/resultbg.jpg")
}
.resultitm {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0)
}
.result1 {
	top: 80px;
	left: 568px
}
.result2 {
	left: 173px;
	top: 107px
}
.result3 {
	left: 960px;
	top: 121px
}
.resultcar1 {
	top: 328px;
	left: 395px
}
.resultcar2 {
	top: 287px;
	left: 81px
}
.resultcar3 {
	top: 291px;
	left: 859px
}